/*style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
    text-align: center;
}

.book-list {
    list-style: none;
    padding: 0;
}

.book-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.book-item strong {
    color : #3498db;
}

.new-book-form {
    margin-top: 20px;
}

.form-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-create-book {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius; 4px;
    cursor: pointer;
}

.btn-create-book:hover {
    background-color: #2980b9;
}

