<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="{% static '/static/css/style2.css' %}">
</head>
<body>

<div class="container">
    <h1>Book Details</h1>

    <div id="book-details">
        <strong>Title:</strong> <span id="title"></span><br>
        <strong>Author:</strong> <span id="author"></span><br>
        <strong>Created by:</strong> <span id="created_by"></span><br>
        <strong>Shared With:</strong> <span id="shared_with_names"></span><br>
        <strong>Shared Permissions:</strong> <span id="permission_given"></span><br>
        <br>


<!--        <button id="edit-book-btn">Edit Book</button>-->
        <button type="button" onclick="deleteBook({{ book.id }})" id="delete-book-btn" disabled>Delete Book</button>
    </div>

    <br>
    <br>
    <br>

    <form id="edit-book-form" class="hidden">
        <label for="edit-title">Title:</label>
        <input type="text" id="edit-title" class="form-input" required>

        <label for="edit-author">Author:</label>
        <input type="text" id="edit-author" class="form-input" required>

        <label for="shared_with">Share with:</label>
        <select id="shared_with" class="form-input">
            <option value="1">Admin</option>
            <option value="2">Nishan</option>
            <option value="3">Bishab</option>
        </select>

        <label for="shared_permissions">Permission:</label>
        <select id="shared_permissions" class="form-input">
            <option value="4">Read Only</option>
            <option value="2">Update</option>
        </select>

        <button type="button" onclick="updateBook({{ book.id }})" id="btn-update-book" disabled>Save Changes</button>
    </form>
    <script>
        var bookId = {{ book.id }};

        function setBookId(id) {
            bookId = id;
        }

        function updateBook(bookId) {
            var title = document.getElementById('edit-title').value;
            var author = document.getElementById('edit-author').value;
            var shared_with_info = document.getElementById('shared_with').value
            var shared_permission_info = document.getElementById('shared_permissions').value;

            // Get CSRF token
            var csrftoken = getCookie('csrftoken');

            // Send AJAX PUT request with updated data and CSRF token
            fetch('/api/book/' + bookId + '/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    title: title,
                    author: author,
                    shared_with: [shared_with_info],
                    shared_permissions: [shared_permission_info]
                })
            })
            .then(response => {
                if (response.ok) {
                    getBookDetails(bookId);

                    // Hide edit form and show book details
                    document.getElementById('edit-book-form').classList.add('hidden');
        //            document.getElementById('book-details').classList.remove('hidden');

                } else {
                    console.error('Error updating book:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error sending update request:', error);
            });
        }


        // Function to fetch book details from the API
        function getBookDetails(bookId) {
            fetch('/api/book/' + bookId + '/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(book => {
                    // Log the retrieved book data to the console
                    console.log('Book details:', book);

                    // Update UI elements with book data
                    document.getElementById('title').textContent = book.title;
                    document.getElementById('author').textContent = book.author;
                    document.getElementById('created_by').textContent = book.created_by.username;
                    document.getElementById('shared_with_names').textContent = book.shared_with_names;
                    document.getElementById('permission_given').textContent = book.permission_given;

                    if (book.permission_given.includes('Read Only')) {
                        document.getElementById('delete-book-btn').disabled = true;
                        document.getElementById('btn-update-book').disabled = true;
                    } else if (book.permission_given.includes('Update')) {
                        document.getElementById('delete-book-btn').disabled = false;
                        document.getElementById('btn-update-book').disabled = false;
                    }
                    })
                .catch(error => {
                    console.error('Error fetching book details:', error);
                });
        }

        // Function to handle delete book button click
        function deleteBook(bookId) {

            // Get CSRF token
            var csrftoken = getCookie('csrftoken');

            // Confirm deletion with the user
            var confirmDelete = confirm('Are you sure you want to delete this book?');

            if (confirmDelete) {
                // Send AJAX DELETE request with CSRF token
                fetch('/api/book/' + bookId + '/', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Redirect to the book list page or perform any other desired action
                        window.location.href = ''; // Redirect to the home page, adjust the URL as needed
                    } else {
                        console.error('Error deleting book:', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Error sending delete request:', error);
                });
            }
        }


        // Function to get CSRF token from cookies
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the expected format
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.addEventListener('DOMContentLoaded', function () {
            getBookDetails(bookId);
            setBookId(bookId);
        });
    </script>
</div>

<!--<script src="{% static 'js/detail.js' %}"></script>-->
</body>
</html>
